 <!-- Jumbotron -->
      <div class="container">
        <div class="jumbotron">
            <h1>Trabalhe conosco.</h1>
            <p class="lead">Atue com tecnologia e se desenvolva ao lado de uma empresa com mais de 20 anos de mercado.</p>
            <p *ngIf="auth.authenticated()"> <a class="btn btn-danger btn-lg" routerLink="/formulario" role="button">Inicie sua carreira agora &raquo;</a></p>
            <p *ngIf="!auth.authenticated()"><a class="btn btn-success btn-lg" href="#" (click)="auth.login()" role="button">Inicie sua carreira agora &raquo;</a></p>
         </div>
      </div>

      <!-- Example row of columns -->
      <div class="container">
        <div class="col-md-3">
          <h3>Estágio</h3>
          <p class="text-danger"><strong>Requisitos:</strong></p>
          <ul>
            <li>Estar se graduando em uma área da informática</li>
            <li>Conhecimento básico em informática</li>
            <li>Boa capacidade de comunicação</li>
          </ul>         
        
          <p class="text-danger"><strong>Características desejáveis:</strong></p>
          <ul>
            <li>Conhecimento básico em funcionamento de empresas (estoque, compras, NFe, financeiro)</li>
            <li>Conhecimento básico em programação: Angular (HTML + CSS + JavaScript)</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Suporte Técnico</h3>
          <p class="text-danger"><strong>Requisitos:</strong></p>
          <ul>
            <li>Graduação completa em uma área da informática</li>
            <li>Conhecimento avançado em informática</li>
            <li>Boa capacidade de comunicação</li>
            <li>Conhecimento em funcionamento de empresas (estoque, compras, NFe, financeiro)</li>
          </ul>    
          <ul>
            <li>Experiência com suporte a Clientes</li>
            <li>Conhecimento básico em programação: Angular (HTML + CSS + JavaScript)</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Profissional em TI</h3>
          <p class="text-danger"><strong>Requisitos:</strong></p>
          <ul>
            <li>Graduação completa em uma área da informática</li>
            <li>Conhecimento avançado em informática</li>
            <li>Boa capacidade de comunicação</li>
            <li>Conhecimento básico em programação: Angular (HTML + CSS + JavaScript)</li>
            <li>Restful Web Services</li>
            <li>Banco de Dados: Oracle, MySQL, PostgreSQL</li>
          </ul>
          </div>
        <div class="col-md-3">
          <h3>Consultor Comercial</h3>
          <p class="text-danger"><strong>Requisitos:</strong></p>
          <ul>
            <li>Ótima capacidade de comunicação verbal e escrita</li>
            <li>Boa capacidade em demonstração, venda e negociação de serviços</li>
            <li>Experiência com venda de serviços</li>
          </ul>              
    
          <p class="text-danger"><strong>Características desejáveis:</strong></p>
          <ul>
            <li>Graduação completa em Marketing, Administração ou Ciências Contábeis</li>
            <li>Experiência em venda de software</li>
          </ul>
      </div>
