                    <nav class="navbar navbar-inverse navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header ">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                                    aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <img src="../assets/img/logo_branco.png" alt="Logo da Usesoft" >
                            </div>
 
                            <div id="navbar" class="collapse navbar-collapse">
                                <ul  class="nav navbar-nav">
                                    <li><a  routerLink=""                    *ngIf="auth.authenticated()">Início</a></li>
                                    <li><a  routerLink="formulario"          *ngIf="auth.authenticated()">Preencha o formulário </a></li>
                                    <li><a  routerLink="lista"               *ngIf="auth.authenticated()">Lista  </a></li>
                                    <li><a  href="#" (click)="auth.login()"  *ngIf="!auth.authenticated()">Entrar</a></li>
                                    <!-- <li><a  routerLink="perfil"              *ngIf="auth.authenticated()">Perfil</a></li> -->
                                    <li><a  href="#" (click)="auth.logout()" *ngIf="auth.authenticated()">Sair</a></li>
                                </ul>                                  
                            </div>
                        </div>
                            <!--/.nav-collapse -->                                        
                    </nav>

<div class="container">
    <div class="col-xs-18 col-md-12">
       <router-outlet></router-outlet>
    </div>
</div>
<!-- /.container -->
