<div class="container">
  <div class="topo col-xs-6">
  <img src="../assets/usesoft-logo.png" alt="Logo da Usesoft" >
  </div>
  <div class="topo col-xs-6">
  <h1 id="cabecalho" >Trabalhe Conosco</h1>
  </div>
</div>

<div class="container">
  <form #candidateForm="ngForm">
      
    <div class="col-xs-2">
      <label for="tipo">Escolha o Tipo</label>  
     <select class="form-control" id="tipo" required [(ngModel)]="model.tipo" name="tipo" #tipo="ngModel">
          <option>Estagiário</option>
          <option>Profissional</option>          
          <option>Representante</option>          
      </select>
    </div>

    <div class="col-xs-8" >
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" minlength="5" maxlength="50" required [(ngModel)]="model.nome" name="nome" #nome="ngModel">
      <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
        <div [hidden]="!nome.errors.required">
          O campo Nome é de preenchimento obrigatório!
        </div>
        <div [hidden]="!nome.errors.minlength">
          O campo Nome deve ter no mínimo 5 caracteres.
        </div>
        <div [hidden]="!nome.errors.maxlength">
          O campo Nome deve ter no máximo 50 caracteres.
        </div>
      </div>
    </div>

    <div class="col-xs-2">
      <label for="sexo">Sexo</label>  
     <select class="form-control" id="sexo" required [(ngModel)]="model.sexo" name="sexo" #sexo="ngModel">
          <option>Masculino</option>
          <option>Feminino</option>          
      </select>
    </div>
  

    
    
    <div class="col-xs-6" >
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="SeuEmail@exemplo.com" required minlength="10" maxlength="30" [(ngModel)]="model.email" name="email" #email="ngModel">
      <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
        <div [hidden]="!email.errors.required">
          O campo Email é de preenchimento obrigatório!
        </div>
        <div [hidden]="!email.errors.minlength">
          O campo Email deve ter no mínimo 10 caracteres.
        </div>
        <div [hidden]="!email.errors.maxlength">
          O campo Email deve ter no mínimo 30 caracteres.
        </div>
      </div>
    </div>
    <div class="col-xs-2" >
      <label for="dataNascimento">Data Nascimento</label>
      <input type="date" class=" form-control" id="dataNascimento" max="1998-12-31" minlength="6"  required [(ngModel)]="model.dataNascimento" name="dataNascimento" #dataNascimento="ngModel">
      
    </div>
    <div class="col-xs-2">
      <label for="estadoCivil">Estado Civil</label>
      <select class="form-control" id="estadoCivil" required [(ngModel)]="model.estadoCivil" name="estadoCivil" #estadoCivil="ngModel">
          <option>Solteiro</option>
          <option>Casado</option>
          <option>Divorciado</option>
      </select>
    </div>    
    <div class="col-xs-2">
      <label for="filhos">Filhos</label>
      <select class="form-control" id="filhos" required [(ngModel)]="model.filhos" name="filhos" #filhos="ngModel">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
      </select>
    </div>    
    <div class="col-xs-2">
      <label for="ddd1">DDD</label>
      <input type="number" class="form-control" id="ddd1" required [(ngModel)]="model.ddd1" name="ddd1" #ddd1="ngModel">
    </div>
    <div class="col-xs-6">
      <label for="telefone1">Telefone</label>
      <input type="number" class="form-control" id="telefone1" placeholder="Por favor, informe um telefone para contato" required [(ngModel)]="model.telefone1" name="telefone1" #telefone1="ngModel">
    </div>
    <div class="col-xs-4">
      <label for="tipo1">Tipo</label>      
      <select class="form-control" id="tipo1" required [(ngModel)]="model.tipo1" name="tipo1" #tipo1="ngModel">
          <option>Residencial</option>
          <option>Celular</option>
          <option>Comercial</option>
      </select>
    </div>
    <div class="col-xs-2">
      <label for="ddd2">DDD</label>
      <input type="number" class="form-control" id="ddd2"  [(ngModel)]="model.ddd2" name="ddd2" #ddd2="ngModel">
    </div>
    <div class="col-xs-6">
      <label for="telefone2">Telefone</label>
      <input type="number" class="form-control" id="telefone2"  [(ngModel)]="model.telefone2" name="telefone2" #telefone2="ngModel">
    </div>
    <div class="col-xs-4">
      <label for="tipo2">Tipo</label>
      <select class="form-control" id="tipo2"  [(ngModel)]="model.tipo2" name="tipo2" #tipo2="ngModel">
          <option>  </option>
          <option>Celular</option>
          <option>Residencial</option>
          <option>Comercial</option>
      </select>
    </div>
    <div class="col-xs-6" >
      <label for="endereco">Endereço</label>
      <input type="text" class="form-control" id="endereco" placeholder="Informe nome da Rua, Avenida, Alameda, etc..." required minlength="10" maxlength="50"  [(ngModel)]="model.endereco" name="endereco" #endereco="ngModel">
      <div *ngIf="endereco.errors && (endereco.dirty || endereco.touched)" class="alert alert-danger">
        <div [hidden]="!endereco.errors.required">
          O campo Endereço é de preenchimento obrigatório!
        </div>
        <div [hidden]="!endereco.errors.minlength">
          O campo Endereço deve ter no mínimo 10 caracteres.
        </div>
        <div [hidden]="!endereco.errors.maxlength">
          O campo Endereço deve ter no mínimo 50 caracteres.
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <label for="numero">Número</label>
      <input type="text" class="form-control" id="numero" [(ngModel)]="model.numero" name="numero" #numero="ngModel">
    </div>
    <div class="col-xs-3">
      <label for="complemento">Complemento</label>
      <input type="text" class="form-control" id="complemento"  [(ngModel)]="model.complemento" name="complemento" #complemento="ngModel">
    </div>
    <div class="col-xs-4">
      <label for="bairro">Bairro</label>
      <input type="text" class="form-control" id="bairro" required minlength="5" maxlength="30" [(ngModel)]="model.bairro" name="bairro" #bairro="ngModel">
      <div *ngIf="bairro.errors && (bairro.dirty || bairro.touched)" class="alert alert-danger">
        <div [hidden]="!bairro.errors.required">
          O campo Bairro é de preenchimento obrigatório!
        </div>
        <div [hidden]="!bairro.errors.minlength">
          O campo Bairro deve ter no mínimo 5 caracteres.
        </div>
        <div [hidden]="!bairro.errors.maxlength">
          O campo Bairro deve ter no máximo 30 caracteres.
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <label for="cidade">Cidade</label>
      <input type="text" class="form-control" id="cidade" required minlength="5" maxlength="30" [(ngModel)]="model.cidade" name="cidade" #cidade="ngModel">
      <div *ngIf="cidade.errors && (cidade.dirty || cidade.touched)" class="alert alert-danger">
        <div [hidden]="!cidade.errors.required">
          O campo Cidade é de preenchimento obrigatório!
        </div>
        <div [hidden]="!cidade.errors.minlength">
          O campo Cidade deve ter no mínimo 5 caracteres.
        </div>
        <div [hidden]="!cidade.errors.maxlength">
          O campo Cidade deve ter no máximo 30 caracteres.
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <label for="uf">UF</label>      
      <select class="form-control" id="uf" required [(ngModel)]="model.uf" name="uf" #uf="ngModel">
          <option>BA</option>
          <option>AC</option>
          <option>AL</option>
          <option>AP</option>
          <option>AM</option>
          <option>CE</option>
          <option>DF</option>
          <option>ES</option>
          <option>GO</option>
          <option>MA</option>
          <option>MT</option>
          <option>MS</option>
          <option>MG</option>
          <option>PA</option>
          <option>PB</option>
          <option>PR</option>
          <option>PE</option>
          <option>PI</option>
          <option>RJ</option>
          <option>RN</option>
          <option>RS</option>
          <option>RO</option>
          <option>RR</option>
          <option>SC</option>
          <option>SP</option>
          <option>SE</option>
          <option>TO</option>
      </select>
    </div>
    <div class="col-xs-12" >
      <label for="formacao">Formação</label>
      <textarea type="text" rows="3" class="form-control" placeholder="Breve descrição de sua formação acadêmica..." id="formacao" required minlength="5" maxlength="400" [(ngModel)]="model.formacao" name="formacao" #formacao="ngModel"></textarea>
      <div *ngIf="formacao.errors && (formacao.dirty || formacao.touched)" class="alert alert-danger">
        <div [hidden]="!formacao.errors.required">
          O campo Formação é de preenchimento obrigatório!
        </div>
        <div [hidden]="!formacao.errors.minlength">
          O campo Formação deve ter no mínimo 5 caracteres.
        </div>
        <div [hidden]="!formacao.errors.maxlength">
          O campo Formação deve ter no máximo 400 caracteres.
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <label for="nivelIngles">Nível de Inglês</label>
      <select class="form-control" id="nivelIngles" required [(ngModel)]="model.nivelIngles" name="nivelIngles" #nivelIngles="ngModel">
          <option>Inglês instrumental</option>
          <option>Inglês básico</option>
          <option>Inglês intermediário</option>
          <option>Inglês avançado</option>
      </select>
    </div>


    <div class="col-xs-12" >
      <label for="experiencia">Experiência</label>
      <textarea type="text" rows="3" class="form-control" placeholder="Breve descrição de suas experiências..." id="experiencia" required minlength="5" maxlength="400" [(ngModel)]="model.experiencia" name="experiencia" #experencia="ngModel"></textarea>
    </div>
    <div class="col-xs-12">
      <label for="qualificacao">Qualificação</label>
      <textarea type="text" rows="3" class="form-control" placeholder="Breve descrição de suas qualificações..." id="qualificacao" required minlength="5" maxlength="400" [(ngModel)]="model.qualificacao" name="qualificacao" #qualificacao="ngModel"></textarea>
      <div *ngIf="qualificacao.errors && (qualificacao.dirty || qualificacao.touched)" class="alert alert-danger">
        <div [hidden]="!qualificacao.errors.required">
          O campo Qualificação é de preenchimento obrigatório!
        </div>
        <div [hidden]="!qualificacao.errors.minlength">
          O campo Qualificação deve ter no mínimo 5 caracteres.
        </div>
        <div [hidden]="!qualificacao.errors.maxlength">
          O campo Qualificação deve ter no máximo 400 caracteres.
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <button type="submit" [disabled]="!candidateForm.form.valid" class="btn btn-primary">Grava Registro</button>
    </div>    

  </form>
</div>